body{
    background: #202020;
    color: whitesmoke;
}

.navbar{
    background: #421e42;
    padding: 5px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar ul li a{
    color: rgb(156, 130, 80);
}