{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione et, sequi quae aut praesentium, beatae magnam molestiae quasi iste nostrum vero delectus facilis eius, suscipit quia. Voluptatem quia totam culpa eligendi enim eum ratione eaque nostrum odit doloremque perferendis quam quasi et neque necessitatibus ex nobis expedita laudantium voluptas veniam, assumenda iure? Excepturi quasi, deserunt perferendis in unde quidem laborum quae cum repellat libero dolor officiis ullam reiciendis modi ea itaque iusto voluptas consectetur natus at, nostrum eveniet, dolores voluptatibus. Sapiente, provident magni! Porro pariatur accusantium omnis iste, corporis voluptatibus nobis optio dignissimos animi velit? Enim suscipit quae ad labore!</p>

{% endblock %}